# Ignore everything
*

# NotIgnore
!/SenseSystem/Source/**
!/SenseSystem/Resources/**
!/SenseSystem/Content/**
!/docs/
!/docs/**
!*.uplugin
!clang-format
!*.md

# Windows
ehthumbs.db
Thumbs.db

# Visual Studio
.vs
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace